/*

        Mathematical Theme


*/

$gray: #555;
$link:  #0096cc;

body {
  color: $gray;
  background-color: #fff;
}

a {
  color: $link;
  text-decoration: none;
  &:hover {
    color: darken($link, 10%);
  }
}

//.white { color: #fff; }
//.gray { color: $gray; }
//.link {  color: $link; }
//.bg-gray { background-color: $gray; }

.bg-center { background-position: center; }
.bg-cover { background-size: cover; }

