
@import "basscss";
@import "theme";

html, body { height: 100%; }
.yb { height: 61.8%; }

.tappable { line-height: 3*$space; }

@media (max-width: 512px) {
  .mobile-block { display: block; }  
}

$gutter: 4%;
.tile {
  display: block;
  margin-bottom: $space;
}
@media (min-width: 512px){
  .tiles {
    font-size: 0;
    margin-right: -$gutter;
  }
  .tile {
    font-size: 1rem;
    display: inline-block;
    vertical-align: top;
    margin-right: $gutter;
    margin-bottom: 1.5 * $space;
    width: percentage(1/2) - $gutter;
  }
}
@media (min-width: 768px) {
  .tile { width: percentage(1/3) - $gutter; }
}
@media (min-width: 1280px) {
  .tile { width: percentage(1/4) - $gutter; }
}

