// Grid

$max-width: 75rem;
// Matches .px2
$gutter: 2rem;

// Matches .px1
//$gutter: 2rem;

$bp1: 40em;
//$bp2: 64em;

.container {
  max-width: $max-width;
  margin-right: auto;
  margin-left: auto;
}

.grid,
.mobile-grid,
.measure,
.table-cell {
  box-sizing: border-box;
  padding-left: $gutter/2;
  padding-right: $gutter/2;
}

// Mobile grid
.mobile-grid {
  float: left;
}

@for $i from 1 through 11 {
  .mobile-grid-#{$i} {
    width: percentage($i/12);
  }
}

// Mobile Table Object
.mobile-table {
  display: table;
  width: 100%;
}
.mobile-table-fixed {
  table-layout: fixed;
}
.mobile-table-cell {
  display: table-cell;
  vertical-align: middle;
}

// Padding reset to remove gutter
.px0 { padding-right: 0; padding-left: 0; }

// Desktop grid
@media screen and (min-width: $bp1) {
  .table {
    display: table;
    width: 100%;
  }
  .table-fixed {
    table-layout: fixed;
  }
  .table-cell {
    display: table-cell;
    vertical-align: middle;
  }
  .grid {
    float: left;
  }
  @for $i from 1 through 11 {
    .grid-#{$i} {
      width: percentage($i/12);
    }
  }
  .measure {
    width: percentage(8/12);
    max-width: (8/12) * $max-width;
    margin-right: auto;
    margin-left: auto;
  }
}


