// Grid

$max-width: 72rem;

//$gutter: 1.5rem;
//$gutter: 2rem;
$gutter: 3rem;

$bp1: 40em;

.container {
  overflow: hidden;
  max-width: $max-width;
  margin-right: auto;
  margin-left: auto;
}
.row {
  overflow: hidden;
  margin-left: -$gutter/2;
  margin-right: -$gutter/2;
}

.grid,
.mobile-grid,
.table-cell,
.mobile-table-cell {
  box-sizing: border-box;
  padding-left: $gutter/2;
  padding-right: $gutter/2;
}

// Mobile grid
.mobile-grid {
  float: left;
}

@for $i from 1 through 11 {
  .mobile-grid-#{$i} {
    width: percentage($i/12);
  }
}

// Mobile Table Object
.mobile-table {
  display: table;
  width: 100%;
}
.mobile-table-fixed {
  table-layout: fixed;
}
.mobile-table-cell {
  display: table-cell;
  vertical-align: middle;
}

// Padding reset to remove gutter
.flush, .px0 { padding-right: 0; padding-left: 0; }

// Desktop grid
@media screen and (min-width: $bp1) {
  .table {
    display: table;
    width: 100%;
  }
  .table-fixed {
    table-layout: fixed;
  }
  .table-cell {
    display: table-cell;
    vertical-align: middle;
  }
  .grid {
    float: left;
  }
  @for $i from 1 through 11 {
    .grid-#{$i} {
      width: percentage($i/12);
    }
    @if ($i < 4) {
      .grid-pre-#{$i} {
        margin-left: percentage($i/12);
      }
      .grid-post-#{$i} {
        margin-right: percentage($i/12);
      }
    }
  }
  .measure {
    max-width: (8/12 * ($max-width + $gutter)) - $gutter;
    margin-right: auto;
    margin-left: auto;
  }
  .measure-grid-6 {
    max-width: (6/12 * ($max-width + $gutter)) - $gutter;
    margin-right: auto;
    margin-left: auto;
  }
  .measure-grid-10 {
    max-width: (10/12 * ($max-width + $gutter)) - $gutter;
    margin-right: auto;
    margin-left: auto;
  }
}


