// Jxnblk Style Guide Theme 


$blue: #0096cc;
$light-gray: #eaeff0;
$mid-gray: #708690;
$dark-gray: #405660;

$red: #f52;
$green: #0f6;


.white { color: #fff; }
.blue { color: $blue; }
.light-gray { color: $light-gray; }
.mid-gray { color: $mid-gray; }
.dark-gray { color: $dark-gray; }

.red { color: $red; }
.green { color: $green; }

.bg-white { background-color: #fff; }
.bg-blue { background-color: $blue; }
.bg-light-gray { background-color: $light-gray; }
.bg-mid-gray { background-color: $mid-gray; }
.bg-dark-gray { background-color: $dark-gray; }

.bg-red { background-color: $red; }
.bg-green { background-color: $green; }


// Base theme styles

body {
  color: $dark-gray;
  background-color: #fff;
}

a {
  color: $blue;
  text-decoration: none;
  &:hover {
    color: darken($blue, 10%);
  }
}


// Buttons

.button {
  border-radius: .25rem;
  transition-property: background-color, color, box-shadow;
  transition-duration: .2s;
}

.button-blue,
.button-gray {
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px rgba($blue,.5);
  }
}

.button-box-blue,
.button-box-gray {
}

.button-blue {
  color: #fff;
  background-color: $blue;
  svg {
    fill: #fff;
  }
  &:hover {
    color: #fff;
    background-color: darken($blue, 20%);
  }
}

.button-gray {
  color: #fff;
  background-color: $mid-gray;
  svg {
    fill: #fff;
  }
  &:hover {
    color: #fff;
    background-color: darken($mid-gray, 20%);
  }
}

.button-box-blue {
  color: $blue;
  box-shadow: inset 0 0 0 2px $blue;
  svg {
    fill: $blue;
  }
  &:hover {
    color: #fff;
    background-color: $blue;
    svg {
      fill: #fff;
    }
  }
  &:focus {
    outline: none;
    box-shadow: inset 0 0 0 2px $blue, 0 0 0 2px #fff, 0 0 0 4px rgba($blue,.5);
  }
}

.button-box-gray {
  color: $mid-gray;
  box-shadow: inset 0 0 0 2px $mid-gray;
  svg {
    fill: $mid-gray;
  }
  &:hover {
    color: #fff;
    background-color: $mid-gray;
    svg {
      fill: #fff;
    }
  }
  &:focus {
    outline: none;
    box-shadow: inset 0 0 0 2px $mid-gray, 0 0 0 2px #fff, 0 0 0 4px rgba($blue,.5);
  }
}


// Forms

.form-light {
  .input,
  .textarea,
  .select {
    transition: box-shadow .2s ease;
    border-color: $mid-gray;
    &:focus {
      outline: none;
      border-color: $blue;
      box-shadow: 0 0 .125rem rgba($blue,.5);
    }
  }
}

// Utilities
.rounded { border-radius: .25rem; }
//.transition-all { transition: all .2s ease; }

.bg-grid {
  background-image: linear-gradient(transparent, transparent .5rem, $light-gray .5rem);
  background-size: .5rem .5rem;
}

.outline {
  box-shadow: 0 0 0 1px $light-gray;
}

//* { outline: 1px solid rgba($blue,.5); }

